<template>
  <el-card class="box-card">
    <div slot="header" class="clearfix">
      <h1>Education</h1>
    </div>
    <div v-for="item in education.items" :key="item.title" class="text item">
      <edu-item :item="item"></edu-item>
    </div>
  </el-card>
</template>

<script>
import EduItem from './EducationItem.vue'

export default {
  name: 'EducationBlock',
  components: {
    'edu-item': EduItem
  },
  props: {
    education: Object
  },
  data: function () {
    return {}
  }
}
</script>

<style lang="scss" scoped>
.item {
  margin: 10px;
}
</style>
