<template>
  <div>
    <h2>{{ item.degree }} - {{ item.major }}</h2>
    <h3>
      <el-link
        :href="item.schoolUrl" :underline="false"
        type="primary" target="_blank" class="school">
          {{ item.school }}
      </el-link>
      <span class="period">({{ item.period }})</span>
    </h3>
    <div class="description">{{ item.description }}</div>
  </div>
</template>

<script>
export default {
  name: 'EducationItem',
  props: {
    item: Object
  }
}
</script>

<style lang="scss" scoped>
.school {
  font-size: 1.2em;
  margin-right: 5px;
  padding-bottom: 2px;
}
.period {
  font-size: 1.0em;
}
.description {
  font-size: 1.1em;
}
</style>
