<template>
  <el-card class="box-card">
    <div slot="header" class="clearfix">
      <h1>Experience</h1>
    </div>
    <div v-for="(item, index) in experience.items" :key="index" class="item">
      <exp-item :item="item"></exp-item>
    </div>
  </el-card>
</template>

<script>
import ExpItem from './ExperienceItem.vue'

export default {
  name: 'ExperienceBlock',
  components: {
    'exp-item': ExpItem
  },
  props: {
    experience: Object
  },
  data: function () {
    return {}
  }
}
</script>

<style lang="scss" scoped>
.item {
  margin: 0px 10px 30px 10px;
}
</style>
