<template>
  <div>
    <h2>{{ item.title }}</h2>
    <h3>
      <el-link
        :href="item.companyUrl" :underline="false"
        type="primary" target="_blank" class="company">
          {{ item.company }}
      </el-link>
      <span class="period">({{ item.period }})</span>
    </h3>
    <div class="summary">
      <p v-for="(paragraph, index) in item.summary" :key="index">
        {{ paragraph }}
      </p>
    </div>
    <div v-if="hasProjects(item.projects)">
      <h3>Projects</h3>
      <el-table
        :data="item.projects">
        <el-table-column
          prop="name"
          label="Name">
        </el-table-column>
        <el-table-column
          prop="description"
          label="Description"
          min-width="250">
        </el-table-column>
      </el-table>
      <!-- <div v-for="(project, index) in item.projects" :key="index">
        <div class="project">{{project.name}}</div>
        <div class="description">{{project.description}}</div>
      </div> -->
    </div>
  </div>
</template>

<script>


export default {
  name: 'ExperienceItem',
  props: {
    item: Object
  },
  methods: {
    hasProjects (projects) {
      return projects.length > 0
    }
  }
}
</script>

<style lang="scss" scoped>
.company {
  font-size: 1.2em;
  margin-right: 5px;
  padding-bottom: 2px;
}
.period {
  font-size: 1.0em;
}
.project {
  font-size: 1.1em;
  font-weight: 500;
  margin-bottom: 10px;
  padding-left: 10px;
}
.summary, .description {
  font-size: 1.1em;
  margin-bottom: 10px;
}
.description {
  padding-left: 20px;
}
</style>
