<template>
  <el-card class="box-card">
    <div slot="header" class="clearfix">
      <h1>{{ profile.name }}</h1>
    </div>
    <el-row :gutter="10">
      <el-col :sm="24" :md="12">
        <div class="item">
          <h2>{{ profile.title }}</h2>
        </div>
        <div class="item industry">
          <span>{{ profile.industry }}</span>
          <el-divider direction="vertical"></el-divider>
          <span>{{ profile.location }}</span>
        </div>
        <div class="item summary">
          {{ profile.summary }}
        </div>
      </el-col>
      <el-col :sm="24" :md="12">
          <div class="item milestone">
            <el-timeline>
              <el-timeline-item
                v-for="(item, index) in profile.milestone"
                size="large"
                :key="index"
                :type="item.type"
                :icon="item.icon"
                :timestamp="item.time">
                {{item.content}}
              </el-timeline-item>
            </el-timeline>
          </div>
      </el-col>
    </el-row>
  </el-card>
</template>

<script>
export default {
  name: 'Profile',
  props: {
    profile: Object
  }
}
</script>

<style lang="scss" scoped>
.item {
  padding: 8px 0;
}
.industry {
  font-size: 1.3em;
}
.summary {
  font-size: 1.1em;
}
</style>
