<template>
  <el-container>
    <el-main>
      <el-row>
        <el-col :span="24">
          <profile :profile="profileData"></profile>
        </el-col>
      </el-row>
      <el-row :gutter="10">
        <el-col :sm="24" :md="12" :lg="14">
          <experience :experience="experienceData"></experience>
        </el-col>
        <el-col :sm="24" :md="12" :lg="10">
          <skill :skill="skillData"></skill>
        </el-col>
        <el-col :sm="24" :md="12" :lg="10">
          <education :education="educationData"></education>
        </el-col>
      </el-row>
    </el-main>
  </el-container>
</template>

<script>
import Profile from './Profile.vue'
import ProfileData from '../data/profile.json'

import Skill from './SkillBlock.vue'
import SkillData from '../data/skills.json'

import Experience from './ExperienceBlock.vue'
import ExperienceData from '../data/experience.json'

import Education from './EducationBlock.vue'
import EducationData from '../data/education.json'

export default {
  name: 'ResumeContainer',
  components: {
    'profile': Profile,
    'skill': Skill,
    'experience': Experience,
    'education': Education
  },
  data: function () {
    return {
      profileData: ProfileData,
      skillData: SkillData,
      experienceData: ExperienceData,
      educationData: EducationData
    }
  }
}
</script>

<style lang="scss" scoped>
.el-col {
  margin-bottom: 10px;
}
</style>
