<template>
  <el-card class="box-card">
    <div slot="header" class="clearfix">
      <h1>Skills</h1>
    </div>
    <div v-for="category in skill.categories" :key="category.name" class="text item">
      <skill-category :category="category"></skill-category>
    </div>
  </el-card>
</template>

<script>
import SkillCategory from './SkillCategory.vue'

export default {
  name: 'SkillBlock',
  components: {
    'skill-category': SkillCategory
  },
  props: {
    skill: Object
  },
  data: function () {
    return {}
  }
}
</script>

<style lang="scss" scoped>

</style>
