<template>
  <div>
    <h2>{{ category.name }}</h2>
    <el-progress
      :percentage="category.ranking"
      :show-text="false">
    </el-progress>
    <div>
      <el-tag v-for="item in category.items" :key="item" class="skill-item">
        {{item}}
      </el-tag>
    </div>
  </div>
</template>

<script>
export default {
  name: 'SkillCategory',
  props: {
    category: Object
  }
}
</script>

<style lang="scss" scoped>
.skill-item {
  font-size: 0.9em;
  margin: 5px;
}
</style>
