<template>
  <div id="app">
    <resume-container></resume-container>
  </div>
</template>

<script>
import ResumeContainer from './components/ResumeContainer.vue'

export default {
  name: 'app',
  components: {
    'resume-container': ResumeContainer
  }
}
</script>

<style>
#app {
  max-width: 1600px;
  font-family: 'Avenir', Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  margin-top: 15px;
  margin-left: auto;
  margin-right: auto;
}
h1 {
  font-size: 1.8em;
}
</style>
